
  {% extends  'main.html' %}
  {% load crispy_forms_tags %}

  {% block content %}
  <div class="content-wrapper">
  <div class="container-fluid pt-4 px-4">
    <h3 class="text-left">Create/Update Department</h3>
    <div class="row g-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
       
          <a href="{% url 'home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
            </svg>
          </a>
          <!-- General Form Elements -->
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <p>Are sure you whant to delete "{{ obj.id }}"?</p>
                <p>{{ obj.YH_user }} {{ obj.title }} {{ obj.department }} {{ obj.date }}</p>
                <p>{{ obj.name }}</p>
            </div>
            <div class="button-form">
              <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
              <button class="btn btn-danger  " type="submit">Delete</button>
            </div>
        </form>
     
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
    {% endblock content %}
  
  
  